/* div{
display: flex ;
border: solid white 1px
}  */
#body{
  text-align: center;
  border-style: solid;
}
button{
  background-color: #34A853;
  color:white ;
  border-radius: green 4px;
  padding-right: 10px;
  margin-right: 8px;
}
input{
  border-style: solid;
  text-align: center;
  border-radius: 4px; 
  margin-bottom: 15px;
  padding-right: 70px;
  margin-top: ;
}
p{
  font-weight: bold;
  font-size: 28px ;
}